* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  padding: 1rem;
}

html {
  height: 100%;
}

#root {
  margin: 0;
  height: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  /* border: 1px solid #fff; */
  height: 100%;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
